@font-face {
font-family: abraham;
src: url('../fonts/AbrahamLincoln.ttf');
}

@font-face {
  font-family: poppins;
  src:url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: vagtur;
  src:url('../fonts/vagtur.ttf');
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
body{
  margin:0;
  padding: 0;
}
.brand
{
  display: block;
  margin-top: -8px;
  border: 2px solid rgba(0,0,0,0.5);
}
.scrollToTop
{
  position: fixed;
  right: 20px;
  bottom: 15px;
  display: block;
  height: 25px;
  width: 25px;
  padding-top: 5px;
  color: white;
  background-color: rgba(192, 57, 43, 0.8);
  border-radius: 50%;

}
u{
  color: #ffdc71;
}

.introduction h1
{
  font-size: 55px;
}
.home
{
height: auto;
text-align: center;
position: relative;
}

.hero-container
{
  background-color: #005c97;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width:100%;
}
.work_icons > a{
  display: inline-block;
  width:30px;
  margin-left: 10px;
  height: 30px;
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 50%;
  color: rgba(255,255,255,0.7);
  background-color: rgba(0,0,0,0.3);
  padding-top: 3px;
  text-decoration: none;
}

.work_icons > a:hover{
  color: rgba(255,255,255,1);
  border: 2px solid rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
}


.hi
{
  font-size: 32px;
  color: #ffa800;
  font-style: italic;
}
.home_section1
{
  position: absolute;
  height: 120vh;
  width: 50%;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(54, 55, 149, 0.8), rgba(0, 92, 151, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(54, 55, 149, 0.8), rgba(0, 92, 151, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home_section2
{
  position: absolute;
  left: 50%;
  background: #cb2d3e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, rgba(239, 71, 58, 0.8), rgba(203, 45, 62, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(239, 71, 58, 0.8), rgba(203, 45, 62, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 50%;
  height: 120vh;
}
.black-overlay
{
  height: 120vh;
  background-color: rgba(0,0,0,0.1);
  z-index: 5;
  position: relative;
}
.nav-links
{
  text-align: center;
}
.nav-links a{

  font-size: 15px;
  font-family: 'abraham';
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  margin-right: 5%;
  float: right;
}
.nav-links
{
margin-top: 10px;
}
.nav-links a:first-child{
  margin-left: 0px;
}
.logo
{
  padding: 5px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: white;
  border: 2px solid white;
  float: left;
  margin: 0 auto;
  margin-left: 20px;
}
.navbar-container
{
  padding-top: 10px;
}
.introduction
{
  margin-top: 35vh;
  color: #ffa800;
  font-size: 40px;
  font-family: 'abraham';
  text-transform:uppercase;
  letter-spacing: 5px;
}
.line
{
  height: 5px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
  width: 400px;
  border: 0.1px groove white;
  margin: 0 auto;
}
.introduction p{
  color: white;
  padding: 0;
  margin: 8px;
  font-size: 20px;
}
.introduction h1
{
  margin: 0;
  display: inline-block;
}
.scroll
{
  position: absolute;
  height: 100px;
  width: 100px;
  top:100vh;
  margin: -70px auto;
  left: 50%;
  margin-left: -50px;
}
.scrollbox
{
  height: 30px;
  width: 30px;
  border: 1px inset white;
  opacity: 0.5;
  border-bottom: 0;
  margin: 0 auto;
}
.scroll p{
  margin: 0;
  text-transform: uppercase;
  font-family: 'abraham';
  letter-spacing: 2px;
  margin-left: 2px;
  color: white;
}
.down
{
  color: white;
}
.aboutme
{
  height: auto;
}
.aboutme_container
{
  background-color: #694fca;
  background: -webkit-linear-gradient(to bottom, #694fca, #b06ab3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4568dc, #b06ab3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 200px;
}
.box
{
  position: relative;
  height: 350px;
  border:8px solid white;

  top: -100px;
  max-width: 700px;
  margin: 0 auto;
  font-family: 'abraham';
  color:white;
}
.heading
{
  text-transform: uppercase;
    font-size: 80px;
}
.box-text p{
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: -10px;
}
.laptop
{
  vertical-align: 0;
  position: absolute !important;
  right:4%;
  bottom: -30%;
}
.box-text
{
  margin-top:180px;
  margin-left: 20px;
  display: inline-block;
}
.number_container
{
  font-family: 'abraham';
  font-size: 180px;
  position: absolute;
  left:-20%;
  top:165px;
  color: #ffa800;
  top: 50%;
  margin-top: -20px;
}

.me_pic
{
  width: 180px;
  position: relative;
  left:50%;
  margin-left: -75px;
  box-shadow: 15px 15px 20px rgba(0,0,0,0.6)
}
.text-me-contain
{
margin-top:50px;
line-height: 30px;
}
.thumbnail_container
{
  margin-top: 50px;
}
.thumbnail_container .fa{
  color: white;
  text-shadow: 1px 1px 2px black;
}
.thumbnail_container h3{
  font-family: 'abraham';
  text-transform: uppercase;
  color:#ffa800;
  letter-spacing: 2px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(27deg,#fff 0,#e5c500 11%,#e59e03 39%,#cf631b 50%,rgba(207,99,27,0) 55%);
  border-image-slice: 1;
}

.thumb-logo-container
{
  height: 35px;
  width: 35px;
  margin-top: 10px;
  border-radius: 50%;
  background-position: center center;
  border: 1px solid #58277e;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: white;
}
.gtu
{
  background-image: url('../img/gtu.png');
}
.fdu
{
  background-image: url('../img/fdu.png');
}
.tb
{
  background-image: url('../img/tb.png');
}
.mongo
{
  background-image: url('../img/mongo.png');
}
.express
{
  background-image: url('../img/express.png');
}
.angular
{
  background-image: url('../img/angular.png');
}
.node
{
    background-image: url('../img/node.png');

}
.about_text p{
  font-family: 'poppins';
  color: white;

}
.download
{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.download .btn
{
  font-family: 'abraham';
  font-size: 22px;
  color: #363795;
  background-color: #ffdc71;
  border: 1px solid #ffa800;
}

.work
{
  background-color: white;
  position: relative;
}


.work_box
{
  position: relative;
  height: 400px;
  border:8px solid black;
  top: -150px;
  max-width: 400px;
  font-family: 'abraham';
  color:white;
}
.work_text
{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: black;

}
.work_text h1{
  text-transform: uppercase;
  font-size: 80px;
}
.work_text p{
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: -10px;
  float: right;
}
.work_num
{
  position: absolute;
  top: 50%;
  right:-180px;
  bottom:-90px;
  font-family: 'abraham';
  font-size: 180px;
  color: black;
}
.projects
{
  position: relative;
  top:-120px;
}
.projects h4{
  font-family: 'poppins';
}
.nav-tabs
{
  margin-top: 50px;
}
.nav-tabs>li
{
width: 33.33%;
font-family: 'abraham';
font-size: 20px;
letter-spacing: 2px;
}
.nav-tabs>li>a{
  color: black;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
  border-top: 0px!important;
  border-bottom-color:purple !important;
  border-left: 0px!important;
  border-right: 0px !important;
  color:purple !important;
}
.bowser_container
{
  max-height: 400px;
  width: 100%;
  margin-top: 60px;
  background-color: white;
  border: 1px solid #dadada;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: none;
  position: relative;
}
.bowser_header
{
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  background-color: #dadada;
}
.bowser_body
{
  position: relative;
  width: 100%;
  height: 100%;

}
.bowser_body > img
{
  width: 100%;
}
.button_container
{
  margin-left: 5px;
  display: inline-block;
}
.minmize_button
{
  background-color: #f0a199;
}
.maximize_button
{
  background-color: #e9b865;
}
.close_button
{
  background-color: #97c47b;
}
.w_button
{
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 2px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.url_bar{
  margin: 0px;
  display:block;
  float: right;
  width: 80%;
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.5);
  height: 20px;
  margin-top: 5px;
}
.fa-plus
{
  margin-left: 2px;
  display: block;
  margin-left: 5px;
  margin-top: 4px;
  color:rgba(0,0,0,0.4);
}
.url_text
{
  font-family: 'poppins';
  color:rgba(0,0,0,0.6);
  font-size: 12px;
}
.fa-refresh
{
  float: right;
  display: block;
  margin-top: 3px;
  margin-right: 5px;
  color: rgba(0,0,0,0.5)
}
.project_text_container h1
{
margin-top: 60px;
font-family: 'abraham';
letter-spacing: 2px;
border-bottom: 2px solid transparent;
border-image: linear-gradient(27deg,#cf631b 20%,#e59e03 20%,#e5c500 30%,rgba(207,99,27,0) 55%);
border-image-slice: 1;
}
.project_text_container p
{
  font-family: 'poppins';
}
.project_text_container h1
{
font-size: 50px;
}
.badge_container
{
margin-top: 5px;
position: relative;
left:-5px;
}
.badge{
  padding: 10px !important;
  color: rgba(0,0,0,0.6) !important;
  background-color: #eee !important;
  border-radius: 5px !important;
    margin-left: 5px !important;
    margin-top: 5px !important;
}
.tab-content
{
  width: 100% !important;
  margin:0 auto;
}
.contectme
{
  padding-bottom: 100px;
  background-color: #694fca;
  background: -webkit-linear-gradient(to bottom, #b06ab3, #694fca); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #b06ab3, #4568dc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: 'poppins' !important;
}
.nav.navbar-nav.navbar-right li a:hover {
    color: #ffa800 !important;
}
.nav.navbar-nav.navbar-right li a:active {
    color: white !important;
}
.nav.navbar-nav.navbar-right li a:visited {
    color: white !important;
}
.nav.navbar-nav.navbar-right li a:link {
    color: white !important;
}
.navbar-default
{
  border:0 !important;
  border-radius: 0 !important;
  background-color: rgba(255,255,255,0.0) !important;
}
.triangle
{
  height: 100px;
  width: 100%;
}
.triangle-path {
    fill: white;
}


.contact_form
{
  max-width: 380px;
  height: auto;
  border:2px double silver;
  margin: 0 auto;
  margin-top:180px;
  position: relative;
  border-radius: 6%;
}
.contact_heading
{
  font-family: 'abraham';
  font-size: 80px;
  color:#ffa800;
  line-height: 64px;
  position: relative;
  top:-20px;
}
.contact_form_container
{
  position: relative;
  max-height: 300px;
  top:-120px;
}
.number_three
{
  color:black;
}
.cont_form > input
{
padding: 1%;
display: block;
border-radius: 10px;
margin: 0 auto;
margin-top: 5px;
width: 93%;
}
.cont_form > textarea
{
  padding: 1%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top:5px;
  width: 93%;
}
.send-button
{
  font-family: 'abraham';
  font-size: 22px !important;
  background-color: #ffdc71 !important;
  color: #363795 !important;
  width: 40% !important;
  border: 1px solid #ffa800 !important;
}


.navbar-toggle
{
  background-color: #363795 !important;
  border: 2px solid rgba(0,0,0,0.5) !important;
}

.footer
{
  padding:15px 0 15px 0;
  color: silver;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.social > a{
  float: right;
  font-size: 18px;
  margin-left: 20px;
  color:silver;
}

.social > a:hover{
  color:#ffa800;
}

@media (max-width:978px) {

  .number_container
  {
    font-size: 116px;
    left: 20px;
    top: 81px;
  }
}

@media (max-width:690px) {
  .heading
  {
    font-size: 65px;
  }
  .work_text h1
  {
    font-size: 65px;
  }
  .url_text
  {
    font-size: 8px;
  }
  .contact_heading
  {
    font-size: 65px;
  }
  .introduction h1
  {
    font-size: 40px;
  }
  .line
  {
    width: 70%;
  }
 .box1 img{
   display: none;
 }
  .number_container
  {
    display:none;
  }
  .work_num
  {
    display: none;
  }
  .number_three
  {
    display: none;
  }
  .contact_form
  {
    border: none;
  }
  .box
  {
    border:none;
    text-align: center;
    height: 250px;
  }
  .work_box
  {
    height: 0px;
    text-align: center;
    border: none;
  }
  .work_text
  {
    position: static;
    margin-top: 220px;
    width: 100%;
    text-align: center;
  }
  .work_text p{
    display: none;
  }
  .projects
  {
  position: relative;
  top: -80px;
  }
  .me_pic
  {
    position: static;
    margin:0 auto;
  }
  .picture
  {
    text-align: center;
  }
  .social
  {
    margin-top: 5px;
  }
  .social > a{
    float: none;
  }
  .copyright
  {
    text-align: center;
  }

  .thumbnail_container h3{
    display: inline-block;
    width: 80%;
    margin-left: 2%;
  }

  .social
  {
    float: none;
    text-align: center;
  }

}
