@value breakpoints: "./breakpoint.css";
@value largest, small, medium from breakpoints;

.btn {
  border-radius: 2px;
  border: none;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.19);
  font-size: 1.6rem;
  cursor: pointer;
  font-family: var(--font-content);
  padding: 5px
}

.btn-lg {
  height: 35px;
  min-width: 250px;
}

.btn-sm {
  height: 35px;
  min-width: 80px;
}

.btn-primary {
  background: var(--orange-blood);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--dark-sky);
  color: var(--white);
}



.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-btn {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: medium) {
  .btn-lg {
    height: 30px;
    min-width: 200px;
  }
}

@media only screen and (max-width: small) {
  .btn-lg {
    height: 25px;
    min-width: 150px;
  }
}
