@value breakpoints: "./breakpoint.css";
@value largest, small, medium from breakpoints;

.hero {
  background-image: url('../../assets/images/mountains.jpg');
  background-size: cover;
  position: relative;
  padding: 80px 10px;
  position: relative;
  z-index: 10;
}

.overlay {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 11;
}

.intro-section {
  z-index: 15;
  position: relative;
}

.avatar {
  height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 50%;
  margin-top: 2.5rem;
  border-radius: 50%;
  box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.3);
}

.introduction {
  margin-top: 2rem;
}

.hi {
  font-size: 3.2rem;
  color: var(--grey);
  font-style: italic;
}

.whoAmI {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  max-width: 700px;
  margin: 0 auto;
}

.introduction button {
  text-transform: uppercase;
}

.introduction button:last-child {
  margin-left: 3rem;
}

.subIntro {
  margin-top: 20px;
}

.section1 {
  position: relative;
  z-index: 0;
  height: 450px;
  background: linear-gradient(var(--dark-sky), var(--squirtle));
  background-size: cover;
  clip-path:  ellipse(70% 72% at 48% 27%);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 6rem;
  color: var(--white);
  border: none;
}

.section1 h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

.technologies {
  position: relative;
  margin-top: -23rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  z-index: 20;
}

.card {
  width: 30%;
  padding: 2rem;
  box-sizing: border-box;
  background: var(--white);
  text-align: center;
  min-height: 40rem;
  border-radius: 13px;
}

.round {
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
  background-color: var(--orange-blood);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card h3 {
  margin-top: 2rem;
}

.card p {
  margin-top: 2rem;
}

.section2 {
  background: linear-gradient(var(--squirtle), var(--dark-sky));
  margin-top: 120px;
  padding: 40px 20px;
  color: white;
  text-align: center;
}

.section2 .title {
display: flex;
align-items: center;
justify-content: center;
}


.workWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.technologyWrapper {
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: right;
  align-self: flex-start;
}

.technologyWrapper .heading {
  color: var(--sky-blue);
  margin-right: 5px;
}

.technologyWrapper ul {
  margin-top: 10px;
  list-style: none;
  text-align: left;
  max-width: 600px;
}

.linkedInButtonContainer {
  margin-top: 30px;
  max-width: 200px;
}

.technologyWrapper ul li{
  margin-top: 10px;
}

.timelineWrapper {
  align-self: flex-start;
  height: 100%;
  min-width: 400px;
    flex: 1;
      text-align: left;
      display: flex;
}

.timerange  {
  /* font-size: var(--); */
  font-size: 1.8rem;
  font-family: var(--font-content);
}

.workSection {

}

.educationSection {
  margin-top: 120px;
}

.section4 {
    margin-top: 120px;
    background: var(--squirtle);
    padding: 30px 0rem;
    border: none;
    clip-path: polygon(100% 1%, 100% 97%, 0 100%, 0 3%);
}

.contactCard {
  padding: 100px 0px;
  background-color: var(--white);
}


.contactFormWrapper {
  padding: 25px;
}
.contactFormHeading {
  text-align: center;

}
.contactForm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

.inputType {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Homepage Responsiveness */
@media only screen and (max-width: largest) {
  .section1 {
    height: 50rem;
  }
  .technologies {
    top: -5rem;
  }
}

@media only screen and (max-width: medium) {
  .section1 {
    height: 30rem;
  }

  .technologies {
    flex-direction: column;
    margin-top: -5rem;
  }

  .card {
    width: 80%;
    padding: 2rem;
    min-height: 0;
    margin-top: 2rem;
  }

  .card:first-child {
    margin: 0;
  }
}

@media only screen and (max-width: small) {
  .technologies {
    top: -7rem;
  }

  .card {
    width: 90%;
  }
}
